.application-logo{
  margin: 5%;
}

.input-label{
  width: 50%;
background: transparent;
border: none;
border-bottom: 1px solid #000;
font-size: 28px;
margin: 1%;
max-width: 50%;
}

.login-button{
  background-color: #ffca00 !important;
  font: 28px;
  margin: 2%;
  width: 50%;
  color: red !important;
  font-weight: bold;
}

.button-positive{
  background-color: #ffca00 !important;
}
